{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Shopping Cart</h1>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table">
                        {{ cart_items }}
                    </div>
                {% else %}
                <div>
                    <p>You have no items in your cart.</p>
                    <a href="{% url 'products' %}" class="btn btn-lg btn-dark">Continue Shopping   
                        <span class="ml-2"><i class="fas fa-chevron-left"></i></span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
{% endblock %}