{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">FAQ's</h1>
            <hr>
        </div>
    </div>
        <div class="row">
            <div class="col">
                <h5>Where do you deliver to?</h5>
                <p>Crushed Grapes is currently shipping online orders within Ireland only.</p>
                <hr>
                <h5>How long does delivery take?</h5>
                <p>We aim to get your delivery to you as quickly and efficiently as possible. All orders placed before 3pm will be 
                    dispatched the same day. Orders received after 3pm on Friday, including Saturday and Sunday will be dispatched 
                    the following Monday.
                </p>
                <p>(Subject to stock Availability. Excludes Bank Holidays)</p>
                <hr>
                <h5>Can I track my order?</h5>
                <p>Once an order has been confirmed for dispatch you will receive a tracking number allowing you to follow the progress 
                    of the delivery. On the morning of delivery you will receive an email to confirm a delivery window for that day. 
                    Working in partnership with our couriers, we make every effort to deliver your order within 48hrs. However, on some 
                    occasions this cannot be guaranteed.</p>
                <hr>
                <h5>What are the delivery charges?</h5>
                <p>Orders over €50 will be delivered free of charge. Orders under €50 will be subject to a delivery charge of 10% of the total order.</p>
        </div>
    </div>
</div>
{% endblock %}