{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 my-auto text-center">
            <div class="jumbotron jumbo-text">
                <h1 class="mb-2 jumbo-text">Welcome to Crushed Grapes!</h1>
                <h2 class="mb-2 jumbo-text">Fine wines online</h2>
                <hr>

                <p class="home-intro-text mt-3 mb-5 jumbo-text">At Crushed Grapes, we carry a wide range of wines from every corner of the globe. 
                    Whether you are looking for fine wines for your cellar or it's time to restock the 
                    kitchen cupboard, explore our full range now. With delivery right to your door, it's 
                    time to jump in and get straight to the good stuff.</p>
                

                <a href="{% url 'products' %}" class="btn btn-lg btn-dark btn-custom-color">Shop All Wines</a>
                
            </div>
        </div>       
    </div> 
</div>
{% endblock %}