{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 my-auto text-center">
            <div class="jumbotron jumbo-text">
                <h1 class="mb-2">Welcome to Crushed Grapes!</h1>
                <h2 class="mb-2">Fine wines online</h2>
                <hr>
                <a href="{% url 'products' %}" class="btn btn-lg btn-dark">Shop All Wines</a>
            </div>
        </div>       
    </div> 
</div>
{% endblock %}