{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">My Profile</h1>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-12 col-lg-6">
                <p>Delivery Information</p>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-dark">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <p>Previous Orders</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm">
                        <thead>
                          <tr>
                            <th>Order Number</th>
                            <th>Order Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}   
                                        </a>
                                    </td>
                                    <td>
                                        <p><small>{{ order.date }}</small></p>
                                    </td>                                    
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.product.name }} x {{ item.quantity }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        <p>€{{ order.grand_total }}</p>
                                    </td>    
                                </tr>            
                            {% endfor %}
                        </tbody>
                    </table>  
              </div>
            </div>
        </div>   
        <hr>
        <div class="row">
            <div class="col">
                <h1 class="text-center">My Reviews ({{ reviews.count }})</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {{ product.reviews }}
                {% for review in reviews %}
                    <h5>{{ review.product.name }}</h5>
                            <!-- Rating -->
                                {% if review.rating == 1 %}
                                <span class="review-content star-rating text-warning">
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i></span><br>
                                {% elif review.rating == 2 %}
                                    <span class="review-content star-rating text-warning">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i></span><br>
                                {% elif review.rating == 3 %}
                                    <span class="review-content star-rating text-warning">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i></span><br>
                                {% elif review.rating == 4 %}
                                    <span class="review-content star-rating text-warning">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i></span><br>
                                {% elif review.rating == 5 %}
                                    <span class="review-content star-rating text-warning">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i></span><br>
                                {% else %}
                                        <span class="review content">No Rating added yet</span>
                                {% endif %}
                                <p class="pt-3">{{ review.title }}</p>
                                <p>{{ review.description }}</p>
                                <p><small class="text-muted">Reviewed by: {{ review.user }}<br>Date reviewed: {{ review.review_date }}</small></p>
                                
                                {% if request.user.is_superuser or review.user == request.user %}
                                <a href="{% url 'edit_review' review.id %}"><span class="pr-3">Edit review </span></a>
                                <!-- Modal trigger to confirm delete action -->
                                <a data-toggle="modal" data-target="#delete_review{{review.id}}" href="#" >
                                    <span> Delete review</span>
                                </a>

                                <div class="modal fade" id="delete_review{{review.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="delete_review{{review.id}}Label" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title">Are you sure you want to delete this review?</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          This action cannot be undone!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button> 
                                            <a href="{% url 'delete_review' review.id %}" class="btn btn-sm btn-danger">Delete</a>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                {% endif %}
                                <hr>
                            {% endfor %}
                   
               
                <!-- <p>You have not yet written any reviews!</p> -->
                
            </div>
        </div>
        

{% endblock %}

{% block postloadjs %}
        {{ block.super }}
        <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
