/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.blog-page-heading {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
}

.blog-post-image {
    width: 90%;
    height: auto; 
}

.post-text-container {
    background-color: #e4dde4;
}

.blog-sub-heading {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
}

/* https://stackoverflow.com/questions/62736264/how-to-resize-image-to-fit-in-its-container-with-css */
.image-container {
    height: 60vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
.blog-post-detail-image {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    -o-object-fit: cover;
       object-fit: cover;
  }