{% extends "base.html" %}
{% load static %}
{% load cart_tools %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Checkout</h1>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-12 col-lg-6">
                <p>Order Summary ({{ product_count }})</p>
                 <div class="row mr-2">
                        <div class="col-8">
                            <p>Item</p>
                        </div>
                        <div class="col-4 text-right">
                            <p>Subtotal</p>
                        </div>
                </div>
                        {% for item in cart_items %}
                        <div class="row mr-2">
                            <div class="col-4">
                                <small><p><img class="cart-product-image" src="../media/{{ item.product.image }}" alt="" style="height:100px; width:50px;"></p></small>
                            </div>
                            <div class="col-4">
                                <p>{{ item.product.name }}</p>
                                <p>Qty: {{ item.quantity }}</p>
                            </div>
                            <div class="col-4 text-right">
                                <p>€{{ item.product.price | calculate_subtotal:item.quantity }}</p>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}    
                        <div class="row mr-2">
                            <div class="col-8 text-right">
                                <p>Order Total:</p>
                                <p>Delivery:</p>
                                <p>Grand Total:</p>   
                            </div>
                            <div class="col-4 text-right">
                                <p>€{{ total|floatformat:2 }}</p>
                                <p>€{{ delivery|floatformat:2 }}</p>
                                <p>€{{ grand_total|floatformat:2 }}</p>   
                            </div> 
                        </div>
                    </div>
    
            <div class="col-12 col-lg-6 pl-2">
                <p>Please fill out the form below to complete your order</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Personal Details</legend>
                            {{ order_form.full_name | as_crispy_field }}
                            {{ order_form.email | as_crispy_field }}
                            {{ order_form.phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset>
                        <legend>Delivery Information</legend>
                            {{ order_form.street_address1 | as_crispy_field }}
                            {{ order_form.street_address2 | as_crispy_field }}
                            {{ order_form.town_or_city | as_crispy_field }}
                            {{ order_form.county | as_crispy_field }}
                            {{ order_form.postcode | as_crispy_field }}
                            {{ order_form.country | as_crispy_field }}
                            <div class="save-info-row">
                                {% if user.is_authenticated%}
                                    <label for="save-checkbox">Save my delivery information</label>
                                    <input type="checkbox" id="save-checkbox" name="save-checkbox" checked>
                                {% else %}
                                    <p><a href="{% url 'account_signup' %}">Create an account</a> or <a href="{% url 'account_login' %}">login</a> to save your delivery information</p>
                                {% endif %}
                            </div>
                    </fieldset>
                    <fieldset>
                        <legend>Payment Details</legend>
                        <!-- Stripe elements -->
                        <div id="card-element" class="form-control"></div>
                        <!-- Stripe form errors -->
                        <div class="text-danger mt-2" id="card-errors"></div>
                        <!-- Pass client secret to the view so we can get payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                     <!-- Return to shopping cart button -->
                     <div class="payment-button text-right mt-3">
                        <a href="{% url 'view_cart' %}" class="btn btn-lg btn-light">Back to Cart   
                            <span class="ml-2"><i class="fas fa-chevron-left"></i></span>
                        </a>
                        <button class="btn btn-lg btn-dark" id="payment-button">
                            <span id="button-text">Pay Now</span><i class="fas fa-lock ml-2"></i>
                        </button>
                        <p class="text-danger text-right"><small> <i class="fas fa-exclamation-circle mr-2 mt-2"></i> Your card will be charged €{{ grand_total|floatformat:2 }}</small></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="loading-overlay hidden" id="spinner">
        <h1 class="loading-spinner text-white text-center">
            <i class="fas fa-3x fa-spinner fa-spin"></i>
            <p class="mt-2">Processing payment</p>
        </h1>
    </div>


{% endblock %}

{% block postloadjs %}
        {{ block.super }}
        {{ stripe_public_key|json_script:"id_stripe_public_key" }}
        {{ client_secret|json_script:"id_client_secret" }}
        <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
