/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.profile-form-input::-webkit-input-placeholder {
    color: #aab7c4;
}

.profile-form-input::-moz-placeholder {
    color: #aab7c4;
}

.profile-form-input:-ms-input-placeholder {
    color: #aab7c4;
}

.profile-form-input::-ms-input-placeholder {
    color: #aab7c4;
}

.profile-form-input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: black;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.order-history {
    max-height: 456px;
    overflow-y: auto;
}