@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Reem+Kufi:wght@400;500;600;700&display=swap&family=Shadows+Into+Light&display=swap&family=Oswald:wght@300;400;500;600;700&display=swap');


html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: url('/media/background-1small.webp') no-repeat center center fixed;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 8%;
    font-family: 'Oswald', sans-serif;
    color: #373F51;
    background-color: #e4dde4;
    font-size: 18px;
}

a {
    color: #373F51;
}

.btn-custom-color {
    color:whitesmoke;
    background-color: #a83859;
    font-family: 'Oswald', sans-serif;
}

.btn-custom-color:hover {
    color:whitesmoke;
    background-color: #802943;
    font-family: 'Oswald', sans-serif;
}

.cart-custom-color {
    color: #a83859 !important;
}

a.cart-custom-color:hover {
    color: #802943 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #e4dde4;
    z-index: -1;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.3);
    font-family: 'Shadows Into Light', cursive;
}

.jumbotron hr {
    color: whitesmoke !important;
}
.jumbotron p {
    font-size: 24px;
}


.jumbo-text {
    color: whitesmoke;
}
/* Navbar */

.logo-image {
    height: 80px;
    width: 50px;
    color: #373F51;

}
.logo-text {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    color: #373F51;
}

.logo-link {
    text-decoration: none !important;
}

.page-top-bar {
    background-color: #e4dde4;
}

#topnav {
    height: 80px;
}

.header-container {
    padding-top: 20%;
}

/* Footer */
.social-links a {
    color: #373F51;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

/* Images */


/* Products */

.product-detail-card {
    margin-top: 30px;
    margin-bottom: 100px;
}

.card-img-detail {
    height: 600px;
    padding-left: 20px;
    padding-top: 20px;
}

.cart-product-image {
    height: 200px; 
    width: auto;
}

.update-qty, 
.remove-item {
    cursor: pointer;
}

.btt-button {
    position:fixed;
    bottom: 100px;
    right: 20px;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

.cart-notification-wrapper {
    height: 140px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart-product-image-preview {
    height: 60px;
    width: auto;
}
.form-group input::placeholder {
    color: #aab7c4;
}
/* css from stripe  */
.hidden {
    display: none;
  }
/* spinner display from Boutique Ado walkthrough*/

#spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(71, 73, 73, 0.85);
    z-index: 9999;
}

.loading-spinner {
    margin-top: 20%;
    height: 100%;
} 
  
/* Edit/Add Product form image field */
/* Styling from boutique ado project */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-color: #dc3545;
    background-color: #dc3545;
}

/*-------- Media Queries ----------- */

@media (min-width: 576px) {
    .header-container {
        padding-top: 10%;
    }
}

@media (max-width: 767px) {
    .card-img-detail {
        height: 300px;
        width: auto;
    }
    footer {
        padding-top: 90px;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 5%;
    }

    footer {
        padding-bottom: 20px;
    }
}
