@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Reem+Kufi:wght@400;500;600;700&display=swap');

html {
    height: 100%;
}

body {
    /* background: url('/media/wine-pouring.webp') no-repeat center center fixed; */
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Reem Kufi', sans-serif;
    color: #18020C;
}

/* Navbar */

#topnav {
    height: 80px;
}
/* Footer */
.social-links a {
    color: #18020C;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.product-detail-card {
    margin-top: 30px;
    margin-bottom: 100px;
}

.card-image {
    height: 100px;
}

.cart-product-image {
    height: 200px; 
    width: auto;
}

.update-qty, 
.remove-item {
    cursor: pointer;
}
/* Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

.cart-notification-wrapper {
    height: 140px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart-product-image-preview {
    height: 60px;
    width: auto;
}

/* css from stripe  */
.hidden {
    display: none;
  }
/* spinner display from Boutique Ado walkthrough*/

#spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(71, 73, 73, 0.85);
    z-index: 9999;
}

.loading-spinner {
    margin-top: 25%;
    height: 100%;
}
    
  
  
  

/*-------- Media Queries ----------- */

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    footer {
        padding-bottom: 100px;
    }
}
