{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 my-auto text-center">
            <div class="jumbotron jumbo-text">
                <h1 class="mb-2 jumbo-text blog-page-heading">Welcome to Grape News! The monthly blog about all things wine. </h1>
                <hr>


            
                
            </div>
        </div>       
    </div> 
</div>
{% endblock %}