{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
{% block inner_content %}
<div class="overlay"></div>
<div class="container mt-3 ">
  <div class="row">
      <div class="col">
        <h1 class=text-center>{% trans "Sign Out" %}</h1>
      </div>
  </div>
  <hr>

  <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <p class="text-center mt-3 pt-3">
      <button type="submit" class="btn btn-custom-color btn-lg">{% trans 'Sign Out' %}<i class="fas fa-sign-out-alt pl-3"></i></button>
    </p>
  </form>
</div>

{% endblock %}
{% endblock %}
