{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
{% block inner_content %}
<div class="overlay"></div>
<div class="container header-container mt-3 ">
  <div class="row">
      <div class="col">
        <h1 class=text-center>{% trans "Sign Up Closed" %}</h1>
      </div>
  </div>
  <hr>

    <p class="mt-2">{% trans "We are sorry, but the sign up is currently closed." %}</p>
</div>
{% endblock %}
{% endblock %}
