{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" 
        referrerpolicy="no-referrer" type="text/css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Crushed Grapes {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
      <header class="container-fluid fixed-top page-top-bar">
        <div id="topnav" class="row pt-3 d-none d-lg-flex">
          <!-- Logo -->
          <div class="col-12 col-lg-4 logo-container">
            <a class="logo-link" href="{% url 'home' %}">
              <img class="logo-image" src="{{ MEDIA_URL }}/kindpng_5684398.png" alt="logo">
              <span class="logo-text pl-2">Crushed Grapes</span>
            </a>
          </div>
          <!-- Search Box -->
          <div class="col-12 col-lg-4">
            <form action="{% url 'products' %}" method="GET">
              <div class="input-group w-100">
                <input type="text" class="form-control" name="q" placeholder="Search the site">
                <div class="input-group-append">
                  <button type="submit" class="form-control btn btn-black" title="search-site-button">
                  <span class="icon"><i class="fas fa-search"></i></span>
                </button>
                </div>
              </div>
            </form>
          </div>
          <!-- Account dropdown -->
          <div class="col-12 col-lg-4">
            <ul class="list-inline list-unstyled text-center text-lg-right">
              <li class="list-inline-item dropdown">
                <a href="#" id="account-options" aria-label="account-menu" data-toggle="dropdown" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-lg"></i></div>
                        <p>Account</p>
                      <div>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="account-options">
                      {% if request.user.is_authenticated %}
                          {% if request.user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'add_product' %}" aria-label="manage-products">Manage Products</a>
                            <a class="dropdown-item" href="{% url 'add_blog' %}" aria-label="manage-blog">Manage Blog</a>
                          {% endif %}
                          <a class="dropdown-item" href="{% url 'profile' %}" aria-label="my-account">My Account</a>
                          <a class="dropdown-item" href="{% url 'account_logout' %}" aria-label="logout">Logout</a>
                      {% else %} 
                          <a class="dropdown-item" href="{% url 'account_signup' %}" aria-label="create-account">Create Account</a>
                          <a class="dropdown-item" href="{% url 'account_login' %}" aria-label="login">Login</a>
                      {% endif %}    
                  </div>
                  </div>              
                </a>
              </li>
              <!-- Shopping Cart -->
              <li class="list-inline-item link-custom-color">
                <a href="{% url 'view_cart' %}" class="{% if grand_total %}text-info cart-custom-color font-weight-bold{% else %}text-black{% endif %} nav-link">
                  <div class="text-center">
                    <div><i class="fas fa-shopping-cart"></i></div>
                    <p> 
                      {% if grand_total %}
                          €{{ grand_total|floatformat:2 }}
                      {% else %}
                          €0.00
                      {% endif %}
                    </p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>  
        <!-- Navigation bar -->
        <div id="mainnav" class="row">
            <nav class="navbar navbar-expand-lg w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                </button>
                {% include 'includes/mobile-nav.html' %}
                {% include 'includes/main-nav.html' %} 
            </nav>
        </div>     
      </header>

      {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %} 
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %} 
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %} 
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %} 
                    {% endwith %}  
                {% endfor %}
            </div>
      {% endif %}

      {% block page_header %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      <footer>
        <div class="container-fluid fixed-bottom bg-white">
          <div class="row">
              <div class="col-12 col-md-4 d-flex justify-content-center">
                <p>© Crushed Grapes 2022</p>
              </div>
              <div class="col-12 col-md-4 d-flex justify-content-center">
                  <a href="{% url 'faqs' %}" class="delivery-info">Delivery Information</a>
              </div>
              <div class="col-12 col-md-4 d-flex justify-content-center">
                  <div class="social-links">
                        <a href="https://www.facebook.com/" name="Facebook link" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/" name="Twitter link" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/" name="Instagram link" target="_blank"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
              
          </div>
        </div>
      </footer>
      {% block postloadjs %}
      <script type="text/javascript">
        $('.toast').toast('show');
      </script>
      {% endblock %}
      
  </body>
</html>