/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* CSS taken directly from Boutique Ado project source code */

.StripeElement,
.stripe-style-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding: 5px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
          box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  -o-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::-webkit-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::-moz-placeholder {
    color: #aab7c4;
}

.stripe-style-input:-ms-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::-ms-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

select, 
select option {
  color: black;
}

select:invalid,
select option [value=""] {
  color: #aab7c4 !important;
}