{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Heading -->
        <div class="row">
            <div class="col">
                <h1 class="text-center">Product Details</h1>
            </div>
        </div>
        <hr>
        <!-- Product Details row -->
        <div class="row">
            <div class="col-12">
                <div class="card product-detail-card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-title"><strong>Country of Origin: </strong><br>{{ product.country }}</p>
                                <p class="card-title"><strong>Region: </strong><br>{{ product.region }}</p>
                                <p class="card-text"><strong>Grape Variety: </strong><br>{{ product.grape_variety }}</p>
                                <p class="card-text"><strong>Description: </strong><br>{{ product.description }}</p>
                                <p class="card-text"><strong>Price: </strong><br>€{{ product.price }}</p>
                                <p class="card-text"><small class="text-muted">Rating: {{ product.rating }}</small></p>
                                <!-- Quantity, and Add to Cart form -->
                                <form class="form" action="" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-6">
                                            <!-- Quantity box -->
                                            <label for="quantity-box">Quantity</label>
                                            <input type="number" name="quantity" value="1" min="1" max="99" class="form-control" data-item_id="{{ product.id }}" id="quantity-box{{ product.id }}">
                                        </div>
                                        <div class="col-12">
                                            <!-- Continue shopping button -->
                                            <a href="{% url 'products' %}" class="btn btn-lg btn-dark">Continue Shopping   
                                                <span class="ml-2"><i class="fas fa-chevron-left"></i></span>
                                            </a>
                                            <!-- Add to cart button -->
                                            <input type="submit" class="btn btn-lg btn-light" value="Add to Cart">
                                        </div>
                                        <!-- Hidden input to return user to current page once product added to cart -->
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </div>     
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
{% endblock %}