{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Product Details</h1>
            </div>
        </div>
        <hr>
    
    <div class="row">
            <div class="col-12">
                <div class="card product-detail-card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-title"><strong>Country of Origin: </strong><br>{{ product.country }}</p>
                                <p class="card-title"><strong>Region: </strong><br>{{ product.region }}</p>
                                <p class="card-text"><strong>Grape Variety: </strong><br>{{ product.grape_variety }}</p>
                                <p class="card-text"><strong>Description: </strong><br>{{ product.description }}</p>
                                <p class="card-text"><strong>Price: </strong><br>€{{ product.price }}</p>
                                <p class="card-text"><small class="text-muted">Rating: {{ product.rating }}</small></p>
                            </div>
                        </div>
                    </div>
              </div>
            </div>   
 
    </div>



    </div>
{% endblock %}